$dark-grey: #333;
$font: 'Open Sans', sans-serif;
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

body{
  background: #fff;
  font-family: $font;
}

.container{
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
}

.row{
  margin: 20px 0;
  clear: both;
  &:after, &:before{
    display:table;
    content: " ";
    clear: both;
  }
}
.c-30{
  width: 30%;
}
.c-70{
  width: 70%;
}
.c-100{
  width: 100%;
  padding: 0 10px;
}
.c-30, .c-70{
  float: left;
  padding:0 10px;
}


.logo{
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  .appTitle{
    font: $font;
    font-size: 40px;
    color: #000;
  }
}

.menu{
  .burgerMenu{
    text-align: center;
    cursor: pointer;
  }
  ul{
    list-style: none;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(143,143,143,1);
    -moz-box-shadow: 2px 2px 0px 0px rgba(143,143,143,1);
    box-shadow: 2px 2px 0px 0px rgba(143,143,143,1);
    width: 90%;
    display: block;
    margin: 0 auto;
    li{
      display: inline-block;
      border: 1px solid $dark-grey;
      border-left: none;
      width: 20%;
      &:first-child{
        border-left: 1px solid $dark-grey;
      }
      a{
        font: $font;
        font-size: 16px;
        color: $dark-grey;
        display: block;
        text-align: center;
        padding: 8px;
        transition: all 0.4s ease;
        &:hover{
          background:$dark-grey;
          color: #fff;
        }
      }
    }
  }
}

.pageDescription{
  font: $font;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.bookFeatured{
  background: #eee;
  border:1px solid #111;
  padding: 15px;
  h2{
    font: $font;
    font-size: 24px;
    color: $dark-grey;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: normal;
  }
  .bookItem{
    .bookItem-content{
      flex-direction: column;
      img{
        align-self: center;
        order: 2;
      }
      .bookItem-info{
        text-align: center;
        order: 1;
        margin-bottom: 15px;
        p.description{
          text-align: left;
        }
      }
    }
  }
}

.books{
  display: flex;
  flex-wrap: wrap;
  .bookItem{
    float: left;
    width: 50%;
    &:nth-child(odd){
      padding-right: 10px;
    }
  }
}

.bookItem{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  .bookItem-content{
    display: flex;
    background: #fff;
    border:1px solid #111;
    padding: 12px;
    cursor: pointer;
    transition: background 0.4s ease;
    &.is-selected, &:hover{
     outline: 2px solid #2d983b;
     border-color: #2d983b;
     background: #f3f3f3;
    }
    img{
      margin-right: 10px;
      align-self: flex-start;
    }
    .bookItem-info{
      h3{
        font-size: 16px;
        color: $dark-grey;
        font: $font;
      }
      p{
        font: $font;
        font-size: 16px;
        color: $dark-grey;
        &.authors{
          font-style: italic;
        }
        &.pages{
          margin-bottom: 10px;
        }
        &.description{
          font-size: 14px;
        }
      }
    }
  }
}

.socialMedia{
  ul{
    display: flex;
    justify-content: center;
    li{
      list-style: none;
      margin: 0 10px;
      i{
        transition: color 0.3s ease;
        &.fa-twitter:hover{
          color:#1da1f3;
        }
        &.fa-facebook-square:hover{
          color:#5274bb;
        }
        &.fa-instagram:hover{
          color:#994cbe;
        }
      }
    }
  }
}

.loader{
  text-align: center;
  width: 100%
}

@media screen and (min-width: 992px) {
  .hide-large{
    display: none;
  }
  .socialMedia{
    position: absolute;
    top: 15px;
    right: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
  .hide-medium{
    display: none;
  }
  .bookColumn{
    display: flex;
    flex-direction: column;
  }
  .c-70, .c-30{
    width: 100%;
  }
  .c-30{
    order: 1;
    margin-bottom: 20px;
  }
  .c-70{
    order: 2;
  }
  .bookFeatured{
    display: flex;
    flex-wrap: wrap;
    h2{
      align-self: center;
      width: 100%;
    }
    .bookItem{
      width: 50%;
      padding: 0 10px;
    }
  }
  .socialMedia{
    position: absolute;
    top: 15px;
    right: 0;
  }
}

@media screen and (max-width: 600px) {
  .hide-small{
    display: none !important;
  }
  .logo{
    .appTitle{
      width: 100%;
      text-align: center;
    }
  }
  .menu{
    ul{
      width: 100%;
      li{
        display: block;
        width: 100%;
        border: 1px solid $dark-grey;
        border-bottom: none;
          &:last-child{
          border-bottom: 1px solid $dark-grey;
        }
        a{
          padding: 12px 8px;
        }
      }
    }
  }
  .bookColumn{
    display: flex;
    flex-direction: column;
  }
  .c-70, .c-30{
    width: 100%;
  }
  .c-30{
    order: 1;
    margin-bottom: 20px;
  }
  .c-70{
    order: 2;
  }
  .books{
    .bookItem{
      float: none;
      width: 100%;
      &:nth-child(odd){
        padding-right: 0;
      }
    }
  }
  .bookFeatured{
    .bookItem{
      .bookItem-content{
        img{
          order: 1;
          margin-bottom: 10px;
        }
        .bookItem-info{
          order: 2;
        }
      }
    }
  }
}
