* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  background: #fff;
  font-family: "Open Sans", sans-serif; }

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px; }

.row {
  margin: 20px 0;
  clear: both; }
  .row:after, .row:before {
    display: table;
    content: " ";
    clear: both; }

.c-30 {
  width: 30%; }

.c-70 {
  width: 70%; }

.c-100 {
  width: 100%;
  padding: 0 10px; }

.c-30, .c-70 {
  float: left;
  padding: 0 10px; }

.logo {
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto; }
  .logo img {
    width: 100px;
    height: 100px;
    margin-right: 20px; }
  .logo .appTitle {
    font: "Open Sans", sans-serif;
    font-size: 40px;
    color: #000; }

.menu .burgerMenu {
  text-align: center;
  cursor: pointer; }

.menu ul {
  list-style: none;
  -webkit-box-shadow: 2px 2px 0px 0px #8f8f8f;
  -moz-box-shadow: 2px 2px 0px 0px #8f8f8f;
  box-shadow: 2px 2px 0px 0px #8f8f8f;
  width: 90%;
  display: block;
  margin: 0 auto; }
  .menu ul li {
    display: inline-block;
    border: 1px solid #333;
    border-left: none;
    width: 20%; }
    .menu ul li:first-child {
      border-left: 1px solid #333; }
    .menu ul li a {
      font: "Open Sans", sans-serif;
      font-size: 16px;
      color: #333;
      display: block;
      text-align: center;
      padding: 8px;
      transition: all 0.4s ease; }
      .menu ul li a:hover {
        background: #333;
        color: #fff; }

.pageDescription {
  font: "Open Sans", sans-serif;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 20px; }

.bookFeatured {
  background: #eee;
  border: 1px solid #111;
  padding: 15px; }
  .bookFeatured h2 {
    font: "Open Sans", sans-serif;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: normal; }
  .bookFeatured .bookItem .bookItem-content {
    flex-direction: column; }
    .bookFeatured .bookItem .bookItem-content img {
      align-self: center;
      order: 2; }
    .bookFeatured .bookItem .bookItem-content .bookItem-info {
      text-align: center;
      order: 1;
      margin-bottom: 15px; }
      .bookFeatured .bookItem .bookItem-content .bookItem-info p.description {
        text-align: left; }

.books {
  display: flex;
  flex-wrap: wrap; }
  .books .bookItem {
    float: left;
    width: 50%; }
    .books .bookItem:nth-child(odd) {
      padding-right: 10px; }

.bookItem {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px; }
  .bookItem .bookItem-content {
    display: flex;
    background: #fff;
    border: 1px solid #111;
    padding: 12px;
    cursor: pointer;
    transition: background 0.4s ease; }
    .bookItem .bookItem-content.is-selected, .bookItem .bookItem-content:hover {
      outline: 2px solid #2d983b;
      border-color: #2d983b;
      background: #f3f3f3; }
    .bookItem .bookItem-content img {
      margin-right: 10px;
      align-self: flex-start; }
    .bookItem .bookItem-content .bookItem-info h3 {
      font-size: 16px;
      color: #333;
      font: "Open Sans", sans-serif; }
    .bookItem .bookItem-content .bookItem-info p {
      font: "Open Sans", sans-serif;
      font-size: 16px;
      color: #333; }
      .bookItem .bookItem-content .bookItem-info p.authors {
        font-style: italic; }
      .bookItem .bookItem-content .bookItem-info p.pages {
        margin-bottom: 10px; }
      .bookItem .bookItem-content .bookItem-info p.description {
        font-size: 14px; }

.socialMedia ul {
  display: flex;
  justify-content: center; }
  .socialMedia ul li {
    list-style: none;
    margin: 0 10px; }
    .socialMedia ul li i {
      transition: color 0.3s ease; }
      .socialMedia ul li i.fa-twitter:hover {
        color: #1da1f3; }
      .socialMedia ul li i.fa-facebook-square:hover {
        color: #5274bb; }
      .socialMedia ul li i.fa-instagram:hover {
        color: #994cbe; }

.loader {
  text-align: center;
  width: 100%; }

@media screen and (min-width: 992px) {
  .hide-large {
    display: none; }
  .socialMedia {
    position: absolute;
    top: 15px;
    right: 0; } }

@media screen and (min-width: 601px) and (max-width: 991px) {
  .hide-medium {
    display: none; }
  .bookColumn {
    display: flex;
    flex-direction: column; }
  .c-70, .c-30 {
    width: 100%; }
  .c-30 {
    order: 1;
    margin-bottom: 20px; }
  .c-70 {
    order: 2; }
  .bookFeatured {
    display: flex;
    flex-wrap: wrap; }
    .bookFeatured h2 {
      align-self: center;
      width: 100%; }
    .bookFeatured .bookItem {
      width: 50%;
      padding: 0 10px; }
  .socialMedia {
    position: absolute;
    top: 15px;
    right: 0; } }

@media screen and (max-width: 600px) {
  .hide-small {
    display: none !important; }
  .logo .appTitle {
    width: 100%;
    text-align: center; }
  .menu ul {
    width: 100%; }
    .menu ul li {
      display: block;
      width: 100%;
      border: 1px solid #333;
      border-bottom: none; }
      .menu ul li:last-child {
        border-bottom: 1px solid #333; }
      .menu ul li a {
        padding: 12px 8px; }
  .bookColumn {
    display: flex;
    flex-direction: column; }
  .c-70, .c-30 {
    width: 100%; }
  .c-30 {
    order: 1;
    margin-bottom: 20px; }
  .c-70 {
    order: 2; }
  .books .bookItem {
    float: none;
    width: 100%; }
    .books .bookItem:nth-child(odd) {
      padding-right: 0; }
  .bookFeatured .bookItem .bookItem-content img {
    order: 1;
    margin-bottom: 10px; }
  .bookFeatured .bookItem .bookItem-content .bookItem-info {
    order: 2; } }
